<!-- mat expansion panel -->
<mat-expansion-panel>

  <mat-expansion-panel-header>
    <mat-panel-title >Angular fundamentals</mat-panel-title>
    <mat-panel-description>Time 2hrs</mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sint officia reiciendis,
     obcaecati odio veritatis accusamus. Ipsum in explicabo, voluptates dolore, 
     nostrum eveniet at ullam quam quae dolores, ducimus voluptas.
  </p>

  <mat-action-row>
    <button mat-button>Enroll</button>
  </mat-action-row>

</mat-expansion-panel>

<div style="margin: 10rem;">
</div>
<!-- mat accordian -->

<mat-accordion multi hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title >Angular fundamentals</mat-panel-title>
      <mat-panel-description>Time 2hrs</mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sint officia reiciendis,
       obcaecati odio veritatis accusamus. Ipsum in explicabo, voluptates dolore, 
       nostrum eveniet at ullam quam quae dolores, ducimus voluptas.
    </p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title >Angular material</mat-panel-title>
      <mat-panel-description>Time 3hrs</mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sint officia reiciendis,
       obcaecati odio veritatis accusamus. Ipsum in explicabo, voluptates dolore, 
       nostrum eveniet at ullam quam quae dolores, ducimus voluptas.
    </p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
  
</mat-accordion>