*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
	color: red;
	
	font-size: 50px;
	font-weight: 10;
	font-family: Arial,helventica,sans-serif;

	font: 10 16px Arial;
	line-height:4em;

}


.container{
	margin: auto;
	width: 60%;
}

.box{
	background-color: blue;
	color: white;
}