<!-- floatLabel auto -->
<mat-form-field floatLabel="auto" hideRequiredMarker>
  <mat-label>Name</mat-label>
  <input matInput required/>
  <mat-hint align="end">min 5 chars</mat-hint>
</mat-form-field>

<div style="margin: 1rem;"></div>

<!-- floatLabel never -->
<mat-form-field floatLabel="never">
  <mat-label>Name</mat-label>
  <input matInput>
  <mat-hint align="end">min 5 chars</mat-hint>
</mat-form-field>

<div style="margin: 1rem;"></div>

<!-- floatLabel always  -->
<mat-form-field floatLabel="always">
  <mat-label>Name</mat-label>
  <input matInput>
  <mat-hint align="end">min 5 chars</mat-hint>
</mat-form-field>

<div style="margin: 1rem;"></div>

<!-- appearance legacy -->
<mat-form-field floatLabel="auto" appearance="legacy">
  <input matInput>
</mat-form-field>


<!-- appearance standard -->
<mat-form-field floatLabel="auto" appearance="standard">
  <input matInput>
</mat-form-field>

<div style="margin: 1rem;"></div>
<!-- appearance fill -->
<mat-form-field floatLabel="auto" appearance="fill" color="accent">
  <input matInput>
  <mat-label>Name</mat-label>
</mat-form-field>

<!-- appearance outline -->
<mat-form-field floatLabel="auto" appearance="outline" color="warn">
  <input matInput>
  <mat-label>Name</mat-label>
</mat-form-field>

