
<div class="mybox">
  <input type="checkbox" name="isChecked" (change)="onChange()"/>

  {{isChecked}}

  <div *ngIf="isChecked">
    show me if true by *ngIf
  </div>


    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>
    <p> lorem</p>




</div>
