<!-- mat card -->
<mat-card>Basics</mat-card>

<div style="margin: 10rem;">

</div>

<mat-card>
 <mat-card-title>
     title of card
 </mat-card-title>
 <mat-card-content>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eveniet quam animi 
         repellendus necessitatibus? Optio fugiat esse, similique at voluptatibus delectus. 
         Non ea quam natus voluptate minus magni quos fuga.</p>
 </mat-card-content>
 <mat-card-actions align="end">
     <button mat-raised-button>like</button>
     <button mat-raised-button>share</button>
 </mat-card-actions>

</mat-card>
