<!-- single selection -->
<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)]="selectedValue" >
    <mat-option >None</mat-option>
    <mat-option value="angular">Angular</mat-option>
    <mat-option value="react">React</mat-option>
    <mat-option value="vue">Vue</mat-option>
  </mat-select>
</mat-form-field>
{{selectedValue}}
 <!-- display when None selected -->
{{selectedValue == null?selectedValue==null:""}}


<!-- multiple selection -->
<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)]="selectedValue2" multiple>
    <mat-option >None</mat-option>
    <mat-option value="angular">Angular</mat-option>
    <mat-option value="react">React</mat-option>
    <mat-option value="vue">Vue</mat-option>
  </mat-select>
</mat-form-field>
{{selectedValue2}}


<!--  option group -->
<mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)]="selectedValue3" multiple>
    <mat-option>None</mat-option>
    <mat-optgroup label="web">
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="react">React</mat-option>
      <mat-option value="vue">Vue</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mobile">
      <mat-option value="ionic">ionic</mat-option>
      <mat-option value="reactnative">ReactNative</mat-option>
    </mat-optgroup>
  </mat-select>

</mat-form-field>
{{selectedValue3}}