<div>
  <span matBadge="5">notification</span>
</div>
------------
<div>
  <span matBadge="5" matBadgePosition="above after">notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before">notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">notification</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before">notification</span>
</div>

----------
<div>
  <span matBadge="5" matBadgeSize="small">notification</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="medium">notification</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="large">notification</span>
</div>
-------------
<div>
  <span matBadge="5" matBadgeSize="medium" matBadgeColor="primary">notification</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="medium" matBadgeColor="accent">notification</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="medium" matBadgeColor="warn">notification</span>
</div>
-------------
<div>
  <span matBadge="5" matBadgeSize="medium" matBadgeColor="warn" matBadgeOverlap="false">notification</span>
</div>
-----------

<div>
  <span [matBadge]="count" matBadgeSize="medium" matBadgeColor="warn" >notification</span>
</div>

-------------
<div>
  <span [matBadge]="countIsZero"  [matBadgeHidden]="countIsZero === 0"  matBadgeColor="warn" >notification</span>
</div>
-----------



