


<div>
  <button mat-button>click!</button>
  <button mat-raised-button>click!</button>
  <button mat-flat-button>click!</button>
  <button mat-stroked-button>click!</button>
</div>

<div>
  <button color="primary"  mat-button>primary!</button>
  <button color="accent" mat-raised-button>accent!</button>
  <button color="warn" mat-flat-button>warn!</button>
</div>

<div>
  <button mat-icon-button>icon!</button>
  <button mat-fab>fab!</button>
  <button mat-mini-fab>mini-fab!</button>
</div>


<div>
  <button color="primary"  mat-button disableRipple>primary!</button>
  <button color="accent" mat-raised-button disableRipple>accent!</button>
  <button color="warn" mat-flat-button disableRipple>warn!</button>
</div>
