<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile rowspan="2">item 1</mat-grid-tile>
  <mat-grid-tile >item 2</mat-grid-tile>
  <mat-grid-tile>item 3</mat-grid-tile>
  <mat-grid-tile colspan="2">item 4</mat-grid-tile>
</mat-grid-list>

<div>
  <br>
  <br>
</div>
<!-- rowheaight will be wrt to column width i.e. cols width is 10x then rowheaight will be 1x -->
<mat-grid-list cols="2" rowHeight="10:1" gutterSize="10px">
  <mat-grid-tile rowspan="2">item 1</mat-grid-tile>
  <mat-grid-tile >item 2</mat-grid-tile>
  <mat-grid-tile>item 3</mat-grid-tile>
  <mat-grid-tile colspan="2">item 4</mat-grid-tile>
</mat-grid-list>

<div>
  <br>
  <br>
</div>

<!-- set grid container height to 20px and rowheaight will be relative to this container -->
<mat-grid-list cols="2" rowHeight="fit" style="height: 20px;">
  <mat-grid-tile rowspan="2">item 1</mat-grid-tile>
  <mat-grid-tile >item 2</mat-grid-tile>
  <mat-grid-tile>item 3</mat-grid-tile>
  <mat-grid-tile colspan="2">item 4</mat-grid-tile>
</mat-grid-list>

<div>
  <br>
  <br>
</div>

<!-- gutter size -->
<mat-grid-list cols="2" rowHeight="10:1" gutterSize="10px">
  <mat-grid-tile rowspan="2">item 1</mat-grid-tile>
  <mat-grid-tile >item 2</mat-grid-tile>
  <mat-grid-tile>item 3</mat-grid-tile>
  <mat-grid-tile colspan="2">item 4</mat-grid-tile>
</mat-grid-list>
