.container{
    display: grid;
    grid-template-columns: auto auto ;
    background-color: aqua;
    height: 700px;
}

.box{

    margin: 10px;
    padding: 10px;
    border: solid 10px red;
    background-color: blueviolet;

}